<div class="nav-menu-option"><a href="#">MY HAPPENINGS</a></div>
<div class="nav-menu-option"><a href="#">NEW HAPPENING</a></div>
<div class="nav-menu-option"><a href="#">STORIES THAT HAPPENED</a></div>
<div class="nav-menu-option"><a href="#">ABOUT US</a></div>