<div class="nav-menu-option"><a href="/my-happenings">MY HAPPENINGS</a></div>
<div class="nav-menu-option"><a href="/new-happening">NEW HAPPENING</a></div>
<div class="nav-menu-option"><a href="/happened">STORIES THAT HAPPENED</a></div>
<div class="nav-menu-option"><a href="/about-us">ABOUT US</a></div>