<header>
	<span><a href="/">Rambling Along</a></span>
  <button class="hamburger">&#9776;</button>
  <button class="cross">&#735;</button>
</header>

<div class="menu">
  <ul>
    <a href="#"><li>MY HAPPENINGS</li></a>
    <a href="#"><li>NEW HAPPENING</li></a>
    <a href="#"><li>STORIES THAT HAPPENED</li></a>
    <a href="#"><li>ABOUT US</li></a>
  </ul>
</div> 