<header>
	<span class="logo"><a href="/">Rambling Along</a></span>
  <div class="nav-button hamburger">&#9776;</div>
  <div class="nav-button cross">X</div>
  <div class="menu-tabs">
    <%- include('./nav-items') %>
  </div>
</header>

<div class="menu">
  <%- include('./nav-items'); %>
</div> 

<!-- &#735; -->