<header>
	<span class="logo"><a href="/">Rambling Along</a></span>
  <div class="nav-button hamburger">&#9776;</div>
  <div class="menu-tabs">
    <!-- was confused by this until I figured out one was the mobile and one was desktop. A comment might help! -->
    <%- include('./nav-items') %>
  </div>
</header>

<div class="menu">
  <%- include('./nav-items'); %>
</div> 