<!DOCTYPE html>
<html>
  <%- include('partials/head'); -%>

<body>
  <%- include('partials/nav'); -%>

  <button><a href="/new-happening">New Story</a></button>
  
  <!--Creates the popup body-->
  <div class="popup-overlay">
  <!--Creates the popup content-->
  <div class="popup-content">
    <h2>Instructions</h2>
    <p> Rambling Along is an awesome new app that allows you, the HAPPENER, to start a new HAPPENING (a story!) OR interactively add to an existing story by creating a HAP.  If you are the original creator you get to determine how many characters are in each HAP (not to exceed 500 characters) and how many HAPs are in each HAPPENNING! Have fun, be creative, and enjoy the collaborative process with your family, friends, and enemies alike!</p>
    <!--popup's close button-->
    <button class="close">Start writing!</button>    </div>
  </div>
  <!--Content shown when popup is not displayed-->
  <button class="open">First time here?</button>

  <section id="card-section">
    <h2>Continue... <span id="refresh">&#8635;</span> </h2>
    <% happenings.forEach(story => { %>
      <%- include('partials/card', { story: story, location: 'index' }) %>
    <% }) %>
  </section>
  <%- include('partials/footer'); -%>
</body>