.favicon {
  height: 30px;
  width: 30px;
}

.img-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.single-about {
  margin: 5px auto;
  width: 75%;
}

.about-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  h3 {
    font-family: $card-title;
    font-size: 1.3em;
    margin-right: 10px;
    padding-bottom: 2px;
  }
}

.about {
  width: 200px; 
  max-height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

@media (min-width: $breakpoint) {
  .img-container {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 8px;
  }

  .single-about {
    width: 23%;
  }
}

.blurb {
  // color: darkgray;
  // border: solid 5px;
  // border-radius: 10%;
  padding: 20px;
  margin: 0 auto;
  background-color: antiquewhite;

}