.haps {
  width: 100%
}

.hap-body {
  background-color: lightgrey;
  margin: 5px 5px;
  text-align: center;
  font-style: italic;
  padding: 15px;
  position: relative;
}

.hap-title {
  font-size: 15px;
  font-style: italic;
  left: 40%;
}

.quote {
  position: absolute;
  width: 30px;
  z-index: 1;
  left: 47%;
  top: -22px;
  background-color: $main-color;
  border-radius: 25px;
}

@media (min-width: $breakpoint) {
  width: 75%;
}