.index-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px auto;
  text-align: center;
  width: 50%;
  .index-ctrl-icon {
    align-items: center;
    background-color: $menu-color;
    // border: $dark-brown 1px solid;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    font-size: 1.3em;
    font-weight: bold;
    height: 50px;
    justify-content: center;
    position: relative;
    width: 50px;
    .tool-tip-text {
      background-color: $dark-brown;
      border-radius: 6px;
      color: $menu-color;
      font-family: $sans-serif-font;
      font-size: 0.5em;
      padding: 5px 0;
      position: absolute;
      text-align: center;
      top: 53px;
      visibility: hidden;
      width: 120px;
      z-index: -1;
    }
    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      font-size: 1.6em;
    }
    &:hover .tool-tip-text {
      visibility: visible;
    }
    a {
      text-decoration: none;
      &:visited {
        color: inherit;
      }
    }
  }
}

.popup-overlay {
  /*Hides pop-up when there is no "active" class*/
  background:#ffffff;
  border:3px solid #666666;
  height:50%;
  left:25%; 
  overflow: visible;
  position: absolute;
  visibility: hidden;
  width:50%;
  z-index: 100;
}

.popup-overlay.active {
  /*displays pop-up when "active" class is present*/
  visibility:visible;
  text-align:center;
}

.popup-content {
  /*Hides pop-up content when there is no "active" class */
  visibility:hidden;
}

.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility:visible;
}