
.full-story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 95%;
  // h2 {
  //   font-family: $fancy-font;
  //   text-align: center;
  // }
  h3 {
    font-family: $sans-serif-font;
    text-align: center;
  }

  form {
    width: 100%;
  }
}

.story-parts span {
  display: inline-block;
  padding: 0 5px;
}