// Color Scheme
$main-color: #37718e;
$contrast-color: #c33c54;
$background-color: #aef3ef;
$text-color: #254e70;
$menu-color: #ffd9a8;
$dark-brown: #191004;

// Breakpoint
$breakpoint: 768px;

// Fonts
$fancy-font: 'Kaushan Script', cursive;
$sans-serif-font: 'Chivo', sans-serif;
$card-title: 'Overpass Mono', monospace;




 