<!DOCTYPE html>
<html>
  <%- include('../partials/head'); -%>

<body>
    <%- include('../partials/nav'); -%>
    <div class= "img-container">
      <div class="single-about">
        <img 
          class="about" 
          src="images/brian.png" 
          alt="Brian" 
          onmouseover="this.src='images/kid-brian.png'" 
          onmouseout="this.src='images/brian.png'"
        >
        <div class="about-links">
          <h3>Brian</h3>
          <a href="https://www.linkedin.com/in/briancnelson1/" >
            <img src="images/linkedin.ico" alt="linkedin" class="favicon"/>
          </a>
          <a href="https://github.com/chillbnel" >
            <img src="images/github.ico" alt="github" class="favicon"/>
          </a>
        </div>
      </div>

      <div class="single-about">
        <img 
          class="about" 
          src= "images/christina.png" 
          alt="Christina" 
          onmouseover="this.src='images/toddler-christina.png'" 
          onmouseout="this.src='images/christina.png'"
        >
        <div class="about-links">
          <h3>Christina</h3>
          <a href="https://www.linkedin.com/in/christinagislason/" >
            <img src="images/linkedin.ico" alt="linkedin" class="favicon"/>
          </a>
          <a href="https://github.com/ChristinaGislason" >
            <img src="images/github.ico" alt="github" class="favicon"/>
          </a>
        </div>
      </div>

      <div class="single-about">
        <img 
          class="about" 
          src="images/carlos-cropped.jpg" 
          alt="Carlos" 
          onmouseover="this.src='images/mini-carlos.jpg'" 
          onmouseout="this.src='images/carlos-cropped.jpg'"
        >
        <div class="about-links">
          <h3>Carlos</h3>
          <a href="https://www.linkedin.com/in/carlos-cadena/" >
            <img src="images/linkedin.ico" alt="linkedin" class="favicon"/>
          </a>
          <a href="https://github.com/carloscadena" >
            <img src="images/github.ico" alt="github" class="favicon"/>
          </a>
        </div>
      </div>

      <div class="single-about">
        <img 
          class="about" 
          src= "images/neth.png" 
          alt="Neth" 
          onmouseover="this.src='images/alt-neth.png'" 
          onmouseout="this.src='images/neth.png'"
          
        >
        <div class="about-links">
          <h3>Neth</h3>
          <a href="https://www.linkedin.com/in/suzannesu/" >
            <img src="images/linkedin.ico" alt="linkedin" class="favicon"/>
          </a>
          <a href="https://github.com/tiramisuzie" >
            <img src="images/github.ico" alt="github" class="favicon"/>
          </a>
        </div>
      </div> 
    </div>
    <%- include('../partials/footer'); -%>
    <div class="blurb">
      <p>We are a diverse team of colleagues who bring our unique perspectives and skills to this project. We are passionate about software development, technology, and applying our newly adopted skills towards building this application. Our combined experiences span across the arts, singing, engineering, photography, and retail. We believe in the collaboration process and continue to develop our growth mindsets.</p>
    </div>
</body>