<!DOCTYPE html>
<html>
  <%- include('../partials/head'); -%>

<body>
    <%- include('../partials/nav'); -%>
    <div class= "img-container">
      <div><img class="about" src="images/brian.png" alt="Brian" onmouseover="this.src='images/kid-brian.png'" onmouseout="this.src='images/brian.png'">
        <h3>Brian</h3>
        <a href="https://www.linkedin.com/in/briancnelson1/" ><img src="images/linkedin.ico" alt="linkedin" class="favicon"/></a>
        <a href="https://github.com/chillbnel" ><img src="images/github.ico" alt="github" class="favicon"/></a>
      </div>
      <div><img class="about" src= "images/christina.png" alt="Christina" onmouseover="this.src='images/toddler-christina.png'" onmouseout="this.src='images/christina.png'">
        <h3>Christina</h3>
        <a href="https://www.linkedin.com/in/christinagislason/" ><img src="images/linkedin.ico" alt="linkedin" class="favicon"/></a>
        <a href="https://github.com/ChristinaGislason" ><img src="images/github.ico" alt="github" class="favicon"/></a>
      </div>
      <div><img class="about" src= "images/carlos-cropped.jpg" alt="Carlos">
        <h3>Carlos</h3>
        <a href="https://www.linkedin.com/in/carlos-cadena/" ><img src="images/linkedin.ico" alt="linkedin" class="favicon"/></a>
        <a href="https://github.com/carloscadena" ><img src="images/github.ico" alt="github" class="favicon"/></a>
      </div>
      <div><img class="about" src= "images/neth.png" alt="Neth" onmouseover="this.src='images/alt-neth.png'" onmouseout="this.src='images/neth.png'">
        <h3>Neth (not METH!)</h3>
        <a href="https://www.linkedin.com/in/suzannesu/" ><img src="images/linkedin.ico" alt="linkedin" class="favicon"/></a>
        <a href="https://github.com/tiramisuzie" ><img src="images/github.ico" alt="github" class="favicon"/></a>
      </div> 
    </div>
    <%- include('../partials/footer'); -%>
</body>