<!DOCTYPE html>
<html>
  <%- include('../partials/head'); -%>

<body>
    <%- include('../partials/nav'); -%>
      <% happenings.forEach(story => { %>
        <%- include('../partials/card', { story: story, location: 'happened' }); -%>
      <% }) %>
      <% if (!happenings.length) { %>
        <div class="error-message">There are no completed happenings to find.</div>
      <% } %>
    <%- include('../partials/footer'); -%>
</body>