<!DOCTYPE html>
<html>
  <%- include('../partials/head'); -%>

<body>
    <%- include('../partials/nav'); -%>
      <% happenings.forEach(story => { %>
        <%- include('../partials/finishedStory', {story: story}); -%>
      <% }) %>
    <%- include('../partials/footer'); -%>
</body>