<!DOCTYPE html>
<html>
  <%- include('../partials/head'); -%>

<body>
    <%- include('../partials/nav'); -%>
    <% happenings.forEach(happening => { %>
      <%- include('../partials/card', { story: happening, location: 'my_happenings'}) %>
    <% }) %>
    <% if (!happenings.length) { %>
      <div class="error-message">You have not written any stories.</h3>
    <% } %>
    <%- include('../partials/footer'); -%>
</body>

