<!DOCTYPE html>
<html>
  <%- include('../partials/head'); -%>

<body>
    <%- include('../partials/nav'); -%>
    <% happenings.forEach(happening => { %>
      <%- include('../partials/card', { story: happening}) %>
    <% }) %>
    <%- include('../partials/footer'); -%>
</body>